<div ng-controller="clientesFormularioController" id="clientesFormularioController">
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-9 m-auto mt-4">
        <form name="formularioCliente" id="formularioCliente">

            <div class="card">
                <div class="card-body">

                    <p class="text-right text-success bold">Clave: {{cliente.id_clientetexto}}</p>

                    <div class="form-group row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <label for="nb_cliente" class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-5 col-form-label bold text-success text-right">Nombre</label>
                        <div class="col-xl-9 col-lg-8 col-md-7 col-sm-7 col-7">
                            <input type="text" class="form-control form-control-sm col-12" ng-model="cliente.nb_cliente" 
                                name="nb_cliente" id="nb_cliente" maxlength="255" auto-focus autocomplete="off" capitalize isrequired />
                        </div>
                    </div>

                    <div class="form-group row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <label for="de_apellidopaterno" class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-5 col-form-label bold text-success text-right">Apellido Paterno</label>
                        <div class="col-xl-9 col-lg-8 col-md-7 col-sm-7 col-7">
                            <input type="text" class="form-control form-control-sm col-12" ng-model="cliente.de_apellidopaterno" 
                                name="de_apellidopaterno" id="de_apellidopaterno" maxlength="255"  autocomplete="off" capitalize isrequired />
                        </div>
                    </div>

                    <div class="form-group row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <label for="de_apellidomaterno" class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-5 col-form-label bold text-success text-right">Apellido Materno</label>
                        <div class="col-xl-9 col-lg-8 col-md-7 col-sm-7 col-7">
                            <input type="text" class="form-control form-control-sm col-12" ng-model="cliente.de_apellidomaterno" 
                                name="de_apellidomaterno" id="de_apellidomaterno" maxlength="255" capitalize autocomplete="off"/>
                        </div>
                    </div>

                    <div class="form-group row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <label for="de_rfc" class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-5 col-form-label bold text-success text-right">RFC</label>
                        <div class="col-xl-9 col-lg-8 col-md-7 col-sm-7 col-7">
                            <input type="text" class="form-control form-control-sm col-12" ng-model="cliente.de_rfc" 
                                name="de_rfc" formatvalidate="rfc" validatemsje="El formato del RFC es incorrecto" 
                                id="de_rfc" maxlength="20" autocomplete="off" upper isrequired/>
                        </div>
                    </div>

                     <div class="form-group row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" ng-if="params.id_cliente">
                        <label for="sn_activo" class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-5 col-form-label bold text-success text-right">Activo</label>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                            <div class="form-check mt-2 ml-3">
                                <input type="checkbox" class="form-check-input" ng-model="cliente.sn_activo" 
                                    name="sn_activo" id="sn_activo" ng-true-value="'1'" ng-false-value="'0'"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-12 text-right form-group">
                            <button class="btn btn-danger" type="button" style="cursor: pointer;" ng-click="cancelar()">Cancelar</button>&nbsp;
                            <button class="btn btn-success" type="button" style="cursor: pointer;" ng-click="submit()">Guardar</button>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>